.catalog__wrapper {
  margin: 0 auto;
}

.catalog__list {
  .list-setting();
  display: grid;
  grid-template-columns: 280px;
  row-gap: 30px;
  justify-content: center;
}

.catalog__item {
  position: relative;

  &:first-child::after {
    content: "Панорама дня";
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: @pink;
    color: @basic-white;

    @media (min-width: @tablet-width) {
      top: 57px;
    }
  }
}

.catalog__box {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.catalog__image img {
  display: block;
  width: 100%;
}

.catalog__image--headline {
  width: calc(100% + 40px);
  transform: translateX(-20px);
  text-align: center;

  @media (min-width: @desktop-width) {
    width: calc(100% + 260px);
    transform: translateX(-130px);
  }
}

.catalog__review {
  height: 100%;
  padding-left: 17px;
  padding-right: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-color: @gray;
}

.catalog__author {
  margin: 0;
  margin-bottom: 2px;
  padding-top: 16px;
  font-weight: bold;
  font-size: 14px;

  @media (min-width: @tablet-width) {
    padding-top: 19px;
  }
}

.catalog__time {
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
}

.catalog__text {
  margin: 0 0 10px;
  padding: 0;
  font-size: 14px;
}

.catalog__like {
  margin-bottom: 10px;
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 18px;

  @media (min-width: @tablet-width) {
    margin-bottom: 25px;
    justify-content: space-between;
  }

  &-amount {
    color: @pink;
    font-size: 12px;
    text-transform: uppercase;
  }
}

.catalog__button {
  width: 13px;
  height: 12px;
  position: relative;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    width: 13px;
    height: 12px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/heart.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.catalog__outro {
  margin-top: 52px;
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
    margin-bottom: 100px;
    font-size: 18px;
  }
}

@media (min-width: @tablet-width) {
  .catalog__list {
    grid-template-columns: 300px 300px;
    justify-content: space-around;
    gap: 20px;
  }

  .catalog__item:first-child {
    grid-column-start: 1;
    grid-column-end: 3;

    .catalog__review {
      flex-direction: row;
      flex-wrap: wrap;
    }

    .catalog__author {
      order: 1;
    }

    .catalog__like {
      margin-bottom: 0;
      padding-top: 10px;
      order: 2;
    }

    .catalog__text {
      order: 3;
    }
  }
}

@media (min-width: @desktop-width) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px 20px;
  }

  .catalog__item:first-child {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
