.copyright {
  display: flex;
  justify-content: flex-start;
  height: 34px;

  @media (max-width: @mobile-max-width) {
    margin: 0;
  }
}

.copyright__text {
  @media (min-width: @desktop-width) {
    padding-top: 6px;
  }
}

.copyright__text span {
  color: @blue;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
  }
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 34px;
  margin-left: 18px;

  svg {
    fill: @pink;
  }

  &:hover svg {
    fill: @blue;
  }

  &:active svg {
    fill: fade(@blue, 30%);
  }
}
