.features {
  background-color: @gray;
}

.features__wrapper {
  margin: 0 auto;
}

.features__list {
  .list-setting();
}

.features__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.features__description {
  color: @blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}
