.form__fields {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.form fieldset {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.form__user-data {
  border-style: none;
  order: 1;
}

.form__user-data-list {
  .list-setting();
}

.form__user-data-item {
  margin-bottom: 17px;
  display: flex;
  flex-direction: column;
}

.form__user-data-info {
  color: @pink;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.42px;
  cursor: pointer;

  @media (max-width: @mobile-max-width) {
    padding-left: 23px;
    padding-bottom: 5px;
  }
}

.form__user-data-input {
  padding: 15px 0 15px 20px;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  outline: none;

  &:focus {
    border-color: @blue;
  }

  &:hover {
    border-color: @blue;
  }

  &:active {
    border-color: @pink;
  }

  &::placeholder {
    color: @blue;
    font-family: "Open Sans", "Arial", sans-serif;
    letter-spacing: 0.47px;
  }
}

.form__subtitle {
  color: @pink;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.35px;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    line-height: 30px;
  }
}

.br-form {
  &--mobile {
    display: none;

    @media (max-width: @mobile-max-width) {
      display: block;
    }
  }
}

.achievements-wrapper {
  margin-bottom: 15px;
  order: 2;

  @media (max-width: @mobile-max-width) {
    width: calc(100% + 40px);
    margin-top: 24px;
    padding-top: 38px;
    padding-left: 20px;
    background-color: @gray;
    transform: translateX(-20px);
  }
}

.form__achievements {
  border-style: none;

  .form__subtitle {
    margin: 0 auto;
  }

  @media (max-width: @mobile-max-width) {
    position: relative;
    display: block;

    .form__subtitle {
      transform: translateX(-10px);
    }
  }
}

.form__achievements-list {
  .list-setting();
  margin-top: 43px;
}

.form__achievements-item {
  margin-bottom: 52px;
  position: relative;
}

.form__achievements-info {
  padding-left: 60px;
  color: @blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  cursor: pointer;
  letter-spacing: 0.4px;
}

.form__achievements-input {
  position: absolute;
  appearance: none;
}

.form__checkbox {
  content: "";
  width: 38px;
  height: 38px;
  position: absolute;
  top: -2px;
  left: 0;
  margin-left: 0;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  background-color: @basic-white;
  outline: none;

  &:hover {
    border-color: @blue;
  }

  &:active {
    border-color: @pink;
  }
}

.form__achievements-input:checked + .form__checkbox {
  background-image: url("../img/tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__input:focus + .form__checkbox {
  border-color: @blue;
}

.form__contacts {
  margin-bottom: 15px;
  border-style: none;
  order: 3;
}

.form__subtitle--contacts {
  display: none;
  margin: 0 auto;
}

.form__contacts-list {
  .list-setting();
  margin-top: 16px;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 30px 60px 0 58px;
  }
}

.form__contacts-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 24px;
  }
}

.form__contacts-info {
  margin-left: 25px;
  margin-bottom: 5px;
  color: @pink;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
}

.form__contacts-input {
  padding: 14px 0 14px 20px;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  font-size: 18px;
  line-height: 30px;
  outline: none;

  &::placeholder {
    color: @blue;
    font-family: "Open Sans", "Arial", sans-serif;
    letter-spacing: 0.4px;
  }

  &:focus {
    border-color: @blue;
  }

  &:active {
    border-color: @pink;
  }
}

.os-wrapper {
  margin-bottom: 40px;
  order: 4;

  @media (max-width: @mobile-max-width) {
    width: calc(100% + 40px);
    padding-top: 40px;
    padding-left: 20px;
    background-color: @gray;
    transform: translateX(-20px);
  }
}

.form__os {
  border-style: none;

  .form__subtitle {
    margin: 0 auto;
  }

  @media (max-width: @mobile-max-width) {
    position: relative;
    display: block;

    .form__subtitle {
      transform: translateX(-10px);
    }
  }
}

.form__os-list {
  .list-setting();
  margin-top: 40px;
}

.form__os-item {
  margin-bottom: 45px;
  position: relative;
}

.form__os-info {
  padding-left: 70px;
  color: @blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  cursor: pointer;
  letter-spacing: 0.4px;
}

.form__os-input {
  position: absolute;
  appearance: none;
}

.form__radio {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -5px;
  left: 0;
  margin-left: 0;
  border: 2px solid @dark-gray;
  border-radius: 50%;
  background-color: @basic-white;

  &:hover {
    border-color: @blue;
  }

  &:active {
    border-color: @pink;
  }
}

.form__os-input:checked + .form__radio {
  background-image: url("../img/ellipse-small.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.form__radio:focus + .form__radio-box {
  border-color: @blue;
}

.form__text {
  display: flex;
  justify-content: space-around;
  border-style: none;
  order: 5;

  .form__subtitle {
    margin: 0 auto 16px;
  }
}

.form__text-input {
  display: block;
  width: 278px;
  height: 200px;
  padding: 14px 20px 0 19px;
  color: @blue;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  resize: none;
  outline: none;

  &::placeholder {
    color: @blue;
    letter-spacing: 0.4px;
  }

  &:focus {
    border-color: @blue;
  }

  &:active {
    border-color: @pink;
  }
}

.form__button-wrapper {
  margin-top: 49px;
  display: flex;
  flex-direction: column;
  align-items: start;
  order: 6;
}

.form__button {
  margin: 0 auto 34px;
  padding: 0 45px;
}

.form__legend {
  color: @blue;
  margin: 0 auto;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  letter-spacing: 0.32px;
}

.mark {
  color: @pink;
}

.form__legend-extend {
  display: none;
}

@media (min-width: @tablet-width) {
  .form fieldset {
    margin-top: 40px;
  }

  .form__subtitle {
    padding: 0 31px;
  }

  .form__user-data {
    order: 1;
  }

  .form__user-data-item {
    flex-direction: row;
    align-items: center;
    margin-bottom: 51px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .form__user-data-info {
    margin-right: 19px;
  }

  .form__user-data-input {
    padding: 15px 0 15px 19px;
    width: 100%;
  }

  .achievements-wrapper {
    order: 4;
  }

  .form .form__achievements {
    border: 2px solid @dark-gray;
    border-radius: 1px;
    margin-top: 52px;
  }

  .form__achievements-list {
    margin-left: 58px;
  }

  .form__contacts {
    border: 2px solid @dark-gray;
    border-radius: 1px;
    background-color: unset;
    order: 3;
  }

  .form__subtitle--contacts {
    display: block;
  }

  .form__contacts-item {
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      content: "";
      width: 59px;
      height: 59px;
      position: absolute;
      top: 1px;
      right: 0;
      background-color: @dark-gray;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--tel::after {
      background-image: url("../img/phone-icon.svg");
      background-size: 20px 19px;
    }

    &--email::after {
      background-image: url("../img/mail-icon.svg");
      background-size: 18px 13px;
    }
  }

  .form__contacts-info {
    margin-top: 11px;
    transform: translateX(-7px);
    order: 2;
    letter-spacing: 0.4px;
  }

  .os-wrapper {
    order: 2;
    margin-bottom: 13px;
  }

  .form .form__os {
    margin-top: 53px;
    padding-bottom: 14px;
    border: 2px solid @dark-gray;
    border-radius: 1px;
  }

  .form__os-list {
    margin-top: 42px;
    padding-left: 59px;
  }

  .form__os-info {
    padding-left: 60px;
  }

  .form__text {
    border: 2px solid @dark-gray;
    border-radius: 1px;
  }

  .form__text-input {
    width: 496px;
    height: 189px;
    margin: 15px 30px 53px;
  }

  .form__button-wrapper {
    margin-top: 68px;
    margin-bottom: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .form__button {
      margin: 0;
      padding: 0 55px;
    }

    .form__legend {
      margin: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .form__fields {
    margin-top: 20px;
    margin-bottom: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form .form__user-data {
    width: 434px;
    // min-height: 291px;
    margin-top: 30px;
  }

  .form__user-data-list {
    height: 100%;
  }

  .form__user-data-item {
    margin-bottom: 53px;
  }

  .form .form__os {
    width: 434px;
    // min-height: 297px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .form__os-list {
    margin-top: 44px;
    padding-left: 71px;
  }

  .form .form__contacts {
    width: 100%;
    margin-top: 20px;
  }

  .form__contacts-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 70px;
    padding-top: 28px;
  }

  .form__contacts-item {
    margin-bottom: 8px;
  }

  .achievements-wrapper {
    width: 100%;
  }

  .form .form__achievements {
    margin-left: auto;
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 37px;
  }

  .form__achievements-list {
    display: grid;
    grid-template-columns: 315px 295px 270px;
    margin: 0;
    margin-left: 58px;
  }

  .form__achievements-item {
    margin: 30px 0 22px 59px;
    padding: 0;

    &:nth-of-type(2) {
      order: 4;
    }

    &:nth-of-type(3) {
      order: 2;
    }

    &:nth-of-type(4) {
      order: 5;
    }

    &:nth-of-type(5) {
      order: 3;
    }

    &:nth-of-type(6) {
      order: 6;
    }
  }

  .form__achievements-info {
    padding: 0;
    margin: 0;
  }

  .form__checkbox {
    margin-left: -58px;
    transform: translateY(-3px);
  }

  .form .form__text {
    width: 100%;
    margin-top: 37px;
  }

  .form__text-input {
    width: 816px;
    height: 127px;
    margin-top: 12px;
    margin-bottom: 44px;
  }

  .form__button-wrapper {
    width: 100%;
    margin-top: 65px;
    margin-bottom: 0;
  }

  .form__legend-extend {
    display: inline;
  }
}
