.form__wrapper {
  margin: 0 auto;
}

.form__user-data {
  border-style: none;
}

.form__user-data-list {
  .list-setting();
}

.form__user-data-info {
  color: @pink;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.form__user-data-input {
  border: 2px solid @dark-gray;
  border-radius: 1px;
}

.form__subtitle {
  color: @pink;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
}

.form__achievements {
  background-color: @gray;
  border-style: none;
}

.form__achievements-list {
  .list-setting();
}

.form__achievements-info {
  color: @blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.form__contacts {
  border-style: none;
}

.form__contacts-list {
  .list-setting();
}

.form__contacts-info {
  color: @pink;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.form__contacts-input {
  border: 2px solid @dark-gray;
  border-radius: 1px;
}

.form__os {
  background-color: @gray;
  border-style: none;
}

.form__os-list {
  .list-setting();
}

.form__os-info {
  color: @blue;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
}

.form__text {
  border-style: none;
}

.form__text-input {
  min-width: 276px;
  min-height: 197px;
  padding: 22px 25px 0 20px;
  color: @blue;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  border: 2px solid @dark-gray;
  border-radius: 1px;
  resize: none;

  &::placeholder {
    color: @blue;
  }
}

.form__legend {
  color: @blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

.mark {
  color: @pink;
}
