.header-download {
  display: flex;
  flex-direction: column;
  z-index: 100;
  position: relative;

  @media (max-width: @mobile-max-width) {
    align-items: center;
    background-color: @dark-blue;
  }

  @media (min-width: @tablet-width) {
    align-items: start;

    .header-download__icon-list {
      margin: 46px 46px 33px;
    }

    .header-download__intro {
      width: 300px;
      font-size: 18px;
      margin-bottom: 113px;
    }
  }

  @media (min-width: @desktop-width) {
    .header-download__icon-list {
      margin: 67px 47px 53px;
    }

    .header-download__intro {
      margin-bottom: 125px;
    }
  }
}

.header-download__button {
  width: 280px;
  height: 55px;
  margin: 28px auto 0;
  padding-top: 15px;
  color: @basic-white;
  background-color: inherit;
  font-family: inherit;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  border: 3px solid @basic-white;
  border-radius: 29px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &:hover {
    color: @pink;
    background-color: @basic-white;
  }

  &:active {
    color: fade(@pink, 30%);
    background-color: @basic-white;
  }

  @media (min-width: @tablet-width) {
    width: 300px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
  }
}

.header-download__icon-list {
  width: 204px;
  height: 56px;
  padding: 0;
  margin: 32px auto 21px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-download__icon-link {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}

.header-download__intro {
  margin-top: 0;
  margin-bottom: 31px;
  color: @basic-white;
  font-size: 14px;
  font-weight: lighter;
  line-height: 24px;
  text-align: center;
}
