.header-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: @basic-white;
  font-size: 24px;
  font-weight: lighter;
  line-height: 32.68px;
  text-align: center;

  p {
    margin: 0;
  }

  @media (min-width: @tablet-width) {
    font-size: 50px;
    line-height: 68.09px;
  }
}

.header-title--form {
  padding-top: 35px;
  padding-bottom: 44px;
  z-index: 100;

  @media (min-width: @tablet-width) {
    padding-top: 69px;
    padding-bottom: 60px;
    font-size: 50px;
    line-height: 68.09px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
    padding-bottom: 90px;
  }
  // position: relative;
}

.header-title--catalog {
  padding-top: 35px;
  padding-bottom: 76px;
  z-index: 100;

  .br-head-catalog--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    padding-top: 69px;
    padding-bottom: 128px;
    font-size: 50px;
    line-height: 68.09px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 58px;
    padding-bottom: 90px;

    .br-head-catalog--desktop {
      display: block;
    }
  }
}

.header-title--home {
  margin-top: 24px;
  margin-bottom: 29px;
  line-height: 28.8px;
  z-index: 100;
  position: relative;

  .br-header--tablet {
    display: none;
  }

  @media (min-width: @tablet-width) {
    margin-top: 95px;
    margin-bottom: 29px;
    justify-content: flex-start;

    .br-header--tablet {
      display: block;
    }

    p {
      margin: 0;
      width: 300px;
      font-size: 40px;
      line-height: 48px;
    }
  }

  @media (min-width: @desktop-width) {
    margin-top: 99px;
    margin-bottom: 36px;

    p {
      width: 300px;
      font-size: 50px;
      line-height: 68.09px;
    }
  }
}

@media (min-width: @desktop-width) {
  .br-1 {
    display: none;
  }
}
