// .page-description__wrapper {
//   margin: 0 auto;
// }

.page-description--home {
  margin-bottom: 65px;

  @media (min-width: @tablet-width) {
    margin-bottom: 85px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 55px;
  }
}

.page-description__intro {
  width: 280px;
  margin: 45px auto 50px;
  color: @blue;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.24px;
  line-height: 30px;
  text-align: center;

  @media (max-width: @mobile-max-width) {
    .page-description__extra-text,
    .br-3 {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    width: 79.032%;
    margin-top: 91px;
    margin-bottom: 50px;
    font-size: 18px;
  }

  @media (min-width: @desktop-width) {
    .br-3 {
      display: none;
    }
  }
}

.page-description--form {
  .page-description__intro {
    margin-bottom: 36px;

    @media (min-width: @tablet-width) {
      margin-bottom: 34px;
    }

    @media (min-width: @desktop-width) {
      width: 82%;
      margin-bottom: 56px;
      letter-spacing: 0.38px;
    }
  }
}

.br-description--mobile,
.br-description--tablet,
.br-description--desktop {
  display: none;
}

.page-description--catalog {
  .page-description__intro {
    @media (max-width: @mobile-max-width) {
      .br-description--mobile {
        display: block;
      }
    }

    @media (min-width: @tablet-width) {
      margin-bottom: 78px;
      letter-spacing: 0.4px;

      .br-description--tablet {
        display: block;
      }
    }

    @media (min-width: @desktop-width) {
      width: 82%;
      margin-bottom: 90px;
      letter-spacing: 0.38px;

      .br-description--desktop {
        display: block;
      }

      .br-description--tablet {
        display: none;
      }
    }
  }
}

.page-description--home p {
  width: 280px;
  margin-top: 43px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: lighter;
  line-height: 28.8px;
  text-align: center;

  &:last-child {
    margin-top: 0;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 47px;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 54.47px;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
    margin-top: 61px;
    font-size: 50px;
    line-height: 68.09px;
  }
}
