.page-description__wrapper {
  margin: 0 auto;
}

.page-description__intro {
  color: @blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
}

.page-description--home p {
  font-size: 24px;
  font-weight: lighter;
  line-height: 28.8px;
}
