.popup--hidden {
  display: none;
}

.popup__wrapper {
  margin: 0 auto;
}

.popup__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
}

.popup__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
}
