.price {
  background-color: @gray;
}

.price__wrapper {
  margin: 0 auto;
}

.price__table {
  border-collapse: collapse;
}

.price__title {
  color: @basic-white;
  background-color: @blue;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  text-transform: uppercase;
  border-right: 2px solid @dark-gray;
  border-radius: 0 0 0 1px;
}

.price__cost {
  font-weight: lighter;
  font-size: 18px;
}

.price__info {
  background-color: @basic-white;
}

.price__name {
  color: @blue;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  border: 2px solid @dark-gray;
  border-radius: 0 0 0 1px;
}

.price__kit {
  border: 2px solid @dark-gray;
  border-radius: 0 0 0 1px;
}
