.reviews {
  z-index: 50;

  @media (min-width: @desktop-width) {
    padding-top: 185px;
  }
}

.br-reviews--tablet {
  display: none;
}

.reviews__list {
  margin-top: 43px;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    margin-top: 101px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    position: relative;

    ::before {
      content: "";
      position: absolute;
      top: -115px;
      left: 431px;
      width: 79px;
      height: 63px;
      background-image: url("../img/quotes.svg");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}

.reviews__box {
  margin: 0;
  text-align: center;
}

.reviews__author {
  margin-bottom: 31px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
}

.reviews__dossier {
  display: none;
}

.reviews__text {
  color: @blue;
  font-size: 14px;
  line-height: 30px;

  @media (max-width: @mobile-max-width) {
    letter-spacing: 0.3px;
  }
}

@media (max-width: @mobile-max-width) {
  .reviews__wrapper .reviews__toggles {
    margin-top: 32px;
  }
}

@media (min-width: @tablet-width) {
  .reviews__box {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    order: 2;
  }

  .reviews__dossier {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 30px;
    order: 3;
  }

  .reviews__text {
    width: 620px;
    margin: 0 auto 37px;
    font-size: 18px;
    letter-spacing: 0.35px;
    order: 1;
  }

  .reviews__wrapper .reviews__toggles {
    margin-top: 37px;
    margin-bottom: 36px;
  }

  .br-reviews--mobile {
    display: none;
  }

  @media (max-width: @tablet-max-width) {
    .br-reviews--tablet {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .reviews__author {
    font-size: 24px;
    line-height: 30px;
  }

  .reviews__dossier {
    margin-top: 2px;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.4px;
  }

  .reviews__text {
    width: 688px;
    letter-spacing: 0.4px;
  }

  .reviews__toggles {
    display: none;
  }
}
