.test__item {
  display: none;

  @media (min-width: @tablet-width) {
    width: 620px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

.timer-desktop {
  display: none;
}

.br-test--tablet,
.br-test--desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .test__box {
    margin-left: 72px;
    text-align: left;
  }

  .test__title {
    margin: 22px 0 0;
    padding: 0;
    color: @basic-black;
    font-size: 30px;
    font-weight: bold;
    line-height: 36px;
  }

  .test__text {
    margin-top: 7px;
    margin-bottom: 11px;
    padding: 0;
    font-size: 14px;
    letter-spacing: 0.3px;
  }

  .test__link {
    color: @pink;
    font-size: 14px;
  }

  @media (max-width: @tablet-max-width) {
    .br-test--tablet {
      display: block;
    }
  }
}

@media (min-width: @desktop-width) {
  .test {
    padding-top: 33px;
    padding-bottom: 68px;
    background-color: @gray;
  }

  .test__item {
    width: 940px;

    // svg {
    //   width: 298px;
    //   height: 345px;
    // }
  }

  .timer-tablet {
    display: none;
  }

  .timer-desktop {
    display: block;
  }

  .test__title {
    margin-top: 52px;
    margin-bottom: 27px;
    line-height: 30px;
  }

  .test__text {
    letter-spacing: 0.4px;
    margin-bottom: 32px;
    font-size: 18px;
    line-height: 30px;
  }

  .test__link {
    letter-spacing: 0.4px;
    color: @pink;
    font-size: 18px;
    line-height: 30px;
  }

  .br-test--desktop {
    display: block;
  }
}
